certifi==2024.12.14
click==8.1.8
gensim==4.3.3
joblib==1.4.2
nltk==3.9.1
numpy==1.26.4
pinecone-client==5.0.1
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
python-dotenv==1.0.1
regex==2024.11.6
scikit-learn==1.6.0
scipy==1.13.1
smart-open==7.1.0
threadpoolctl==3.5.0
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
wrapt==1.17.0
